
  $purp: #6d5fb4;

  body{
    padding: 0 10em;
  }

.App {
  display: flex;
  flex-direction: column;
  row-gap: 4em;
  
  background: $purp;
}

nav {
  display: flex;
  justify-content: space-between;

  img {
    height: 50px;
    width: 50px;
  }
  ul {
    display: flex;
    column-gap: 3em;
  }
  //SEARCH BTN STYLE
  #searchBtn {
    height: 0.5em;
    width: 0.5em;
  }
}

.filmInfo {
  display: flex;
  column-gap: 2em;
  justify-content: space-between;

  .infoBox {
    display: flex;
    column-gap: 2em;
    .descript {
      display: flex;
      flex-direction: column;
    }
  }

  .ratingBox {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }
}

.newFilms {
  display: flex;
  column-gap: 2em;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    display: flex;

    height: 10em;
    width: 10em;
    border-radius: 20%;
  }
}

.allFilms {
  display: flex;
  column-gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
