
  $purp: #6d5fb4;
  $gray:#E6E6FA;
  $fontOne:"Open Sans", sans-serif;
  $frontTwo:"Hanken Grotesk", sans-serif;

  body{
    padding: 0 10em;
  }

.App {
  display: flex;
  flex-direction: column;
  row-gap: 4em;
  padding: 0 1em;
  border: $purp;
  border-radius:0.5%;
  font-family: $fontOne;
 
  
  background: $gray;
}

nav {
  display: flex;
  justify-content: space-between;

  img {
    height: 50px;
    width: 50px;
  }

  .navIcons{
    display: flex;
    column-gap: 1em;
  }
  ul {
    display: flex;
    column-gap: 3em;
  }
  //SEARCH BTN STYLE
.navSearch{
  width: 25em;
  height: 3em;
  input{
    width: 25em;
    height: 2em;
  }
}
  #searchBtn {
   
    height: 2em;
    width: 2em;
  }
}

.filmInfo {
  display: flex;
  column-gap: 2em;
  justify-content: space-between;
  background: $purp;
  border-radius: 2em;
  padding: 1em 2em 1em 3em;

  .infoBox {
    display: flex;
    column-gap: 2em;
    .descript {
      display: flex;
      flex-direction: column;
    }
  }

  .ratingBox {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }
}

.newFilms {
  display: flex;
  column-gap: 2em;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: $purp;
  border-radius: 2em;
  padding: 1em;
  img {
    display: flex;

    height: 10em;
    width: 10em;
    border-radius: 20%;
  }
}

.allFilms {
  display: flex;
  column-gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: $purp;
  border-radius: 2em;
  padding: 2em;
}



//Login and Registration page
.loginPage{

 
  height: 30em;

  form{

  }
}